<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>RBAC授权管理</title>
    <link rel="stylesheet" href="../static/src/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">RBAC授权管理</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="javascript:changeifram('myperssion');">我的权限</a></li>
            {% if isAdmin %}
                <li class="layui-nav-item"><a href="/control">管理用户</a></li>
                <li class="layui-nav-item"><a href="/control">管理角色</a></li>
                <li class="layui-nav-item"><a href="/control">管理权限</a></li>
            {% endif %}
            <li class="layui-nav-item"><a href="javascript:changeifram('change');">修改个人信息</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a>
                    <img src="../static/src/images/default.jpeg"
                         class="layui-nav-img">
                    {{ username }}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:changeifram('user_info');">基本资料</a></dd>
                    <dd><a href="/safe_set">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/logout">Logout</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
            {% if isAdmin %}
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:changeifram('user_list');">用户列表</a>
                </li>
            {% endif %}
                <li class="layui-nav-item">
                    <a href="javascript:changeifram('role_list');">角色列表</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:changeifram('per_list');"> 权限列表</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
            {% if not isAdmin %}
                <iframe src="role_list" frameborder="0" id="Admin" style="width:100%; height:100%;"></iframe>

            {% else %}
                <iframe src="user_info" frameborder="0" id="Admin" style="width:100%; height:100%;"></iframe>
            {% endif %}

    </div>


    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © Adam

    </div>
</div>
    <script src="../static/src/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;

        });
    </script>
    <script>
        function changeifram(info) {
            {#document.getElementById('Admin').contentWindow.location.reload(true);#}
            console.log(info)
            document.getElementById('Admin').src = info;
        }
    </script>
</body>
</html>
