<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PersonInfo</title>
    <link rel="stylesheet" href="../static/src/css/layui.css">
</head>
<body>
<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>ID</th>
        <th>登陆名</th>
        <th>真实姓名</th>
        <th>联系方式</th>
        <th>创建时间</th>
        <th>上次登录</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ userinfo.ID }}</td>
        <td>{{ userinfo.UserName }}</td>
        <td>{{ userinfo.RealName }}</td>
        <td>{{ userinfo.PhoneNumber }}</td>
        <td>{{ userinfo.CreateTime }}</td>
        <td>{{ userinfo.LastLogin }}</td>
    </tr>
    </tbody>
</table>
</body>
</html>
