    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © Adam

    </div>
</div>
{#    <script src="../../static/src/layui.js"></script>#}
{#    <script>#}
{#        //JavaScript代码区域#}
{#        layui.use('element', function () {#}
{#            var element = layui.element;#}
{##}
{#        });#}
{#    </script>#}
{#    <script>#}
{#        function changeifram(info) {#}
            {#document.getElementById('Admin').contentWindow.location.reload(true);#}
{#            console.log(info)#}
{#            document.getElementById('Admin').src = info;#}
{#        }#}
{#    </script>#}
</body>
</html>